@import "reset.css";

body {
    background-color: #d5e0e3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.canvas {
    width: 700px;
    height: 550px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 3px 3px #888888; 
}

.controls {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    margin-bottom: 13px;
    cursor: pointer;
}

.controls_btn {
    margin-bottom: 30px;
}

button {
    all: unset;
    background-color: white;
    width: 80px;
    padding: 5px 10px; 
    text-align: center;
    border-radius: 7px;
    box-shadow: 3px 3px 3px #888888; 
    cursor: pointer;
    font-size: 13px;
}

button:active {
    transform: scale(0.96);
}

.controls_colors {
    display: flex;
}

 
.controls_color {
    width: 50px;
    height: 50px;
    box-shadow: 3px 3px 3px #888888;
    border-radius: 25px;
    cursor: pointer;
}